{% extends 'base.html' %}

{% block title %}Operators - Delta Force{% endblock %}

{% block content %}
<h2>Meet the Operators</h2>

<link rel="stylesheet" href="/static/style.css">

<ul class="operator-list">
    {% for operator in operators %}
        {% if operator.name == 'Toxik' %}
            <li class="operator-card"
                style="background-image: url('{{ url_for('static', filename='images/Toxik.webp') }}')">
        {% elif operator.name == 'D-Wolf' %}
            <li class="operator-card"
                style="background-image: url('{{ url_for('static', filename='images/D-Wolf.png') }}')">
        {% else %}
            <li class="operator-card"
                style="background-image: url('{{ url_for('static', filename='images/' + operator.name|lower + '.jpg') }}')">
        {% endif %}
        
            <h3 class="operator-name">{{ operator.name }}</h3>
            <span class="operator-country">({{ operator.country_name }})</span>
            
            <p>{{ operator.info }}</p>

            {% if operator.trait or operator.tactical_gear or operator.gadget1 or operator.gadget2 %}
                <p><strong>Abilities:</strong></p>
                <ul class="operator-abilities">
                    {% if operator.trait %}
                        <li><strong>Trait:</strong> {{ operator.trait }}</li>
                    {% endif %}
                    {% if operator.tactical_gear %}
                        <li><strong>Tactical Gear:</strong> {{ operator.tactical_gear }}</li>
                    {% endif %}
                    {% if operator.gadget1 %}
                        <li><strong>Gadget 1:</strong> {{ operator.gadget1 }}</li>
                    {% endif %}
                    {% if operator.gadget2 %}
                        <li><strong>Gadget 2:</strong> {{ operator.gadget2 }}</li>
                    {% endif %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}
