{% extends 'base.html' %}

{% block title %}Weapons - Delta Force{% endblock %}

{% block content %}
<!--
    weapons.html
    Shows a grid of all weapon categories as cards.
    Each card links to the list of weapons in that category.
-->
<h2>Weapon Categories</h2>
<ul class="weapon-category-list">
    {% for category in categories %}
        <!-- Weapon category card with background image and label -->
        <li class="weapon-category-card"
            onclick="location.href='{{ url_for('weapon_category', category=category.name) }}'"
            style="background-image: url('{{ url_for('static', filename='images/' + category.label + '.png') }}'); background-size: cover; background-position: center; position: relative;">
            <div class="weapon-card-info">
                <h3>{{ category.label }}</h3>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
